<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">Projekt_Inzynierski</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
            <span class="oi oi-home" aria-hidden="true"></span> Strona główna
        </NavLink>

        <AuthorizeView Roles="Employee">
            <Authorized>
                <NavLink class="nav-link" @onclick="() => expandClient = !expandClient">
                    <span class="oi oi-list-rich" aria-hidden="true"></span> Klienci
                </NavLink>
            </Authorized>
        </AuthorizeView>
        @if (expandClient)
        {
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="clientAdd">
                    <span class="oi oi-list-rich" aria-hidden="true"></span> Dodaj klienta
                </NavLink>
            </div>
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="clientList">
                    <span class="oi oi-list-rich" aria-hidden="true"></span> Lista klientów
                </NavLink>
            </div>
        }

        <AuthorizeView Roles="Admin">
            <Authorized>
                <NavLink class="nav-link" @onclick="() => expandContract = !expandContract">
                    <span class="oi oi-list-rich" aria-hidden="true"></span> Umowy
                </NavLink>
            </Authorized>
        </AuthorizeView>
        @if (expandContract)
        {
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="contractAdd">
                    <span class="oi oi-list-rich" aria-hidden="true"></span> Dodaj umowę
                </NavLink>
            </div>
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="contractList">
                    <span class="oi oi-list-rich" aria-hidden="true"></span> Lista umów
                </NavLink>
            </div>
        }

        <AuthorizeView Roles="Admin">
            <Authorized>
                <NavLink class="nav-link" @onclick="() => expandEmployee = !expandEmployee">
                    <span class="oi oi-list-rich" aria-hidden="true"></span> Pracownicy
                </NavLink>
            </Authorized>
        </AuthorizeView>
        @if (expandEmployee)
        {
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="employeeAdd">
                    <span class="oi oi-list-rich" aria-hidden="true"></span> Dodaj pracownika
                </NavLink>
            </div>
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="employeeList">
                    <span class="oi oi-list-rich" aria-hidden="true"></span> Lista pracowników
                </NavLink>
            </div>
        }

        <AuthorizeView Roles="Client, Trainer">
            <Authorized>
                <NavLink class="nav-link" @onclick="() => expandGroupTraining = !expandGroupTraining">
                    <span class="oi oi-list-rich" aria-hidden="true"></span> Treningi grupowe
                </NavLink>
            </Authorized>
        </AuthorizeView>
        @if (expandGroupTraining)
        {
            <AuthorizeView Roles="Client">
                <Authorized>
                    <div class="nav-item px-3">
                        <NavLink class="nav-link" href="groupTrainingList/clientTrainings">
                            <span class="oi oi-list-rich" aria-hidden="true"></span> Twoje treningi
                        </NavLink>
                    </div>
                    <div class="nav-item px-3">
                        <NavLink class="nav-link" href="groupTrainingList/list">
                            <span class="oi oi-list-rich" aria-hidden="true"></span> Zaplanowane treningi
                        </NavLink>
                    </div>
                </Authorized>
            </AuthorizeView>
            <AuthorizeView Roles="Trainer">
                <Authorized>
                    <div class="nav-item px-3">
                        <NavLink class="nav-link" href="groupTrainingAdd">
                            <span class="oi oi-list-rich" aria-hidden="true"></span> Dodaj nowy trening
                        </NavLink>
                    </div>
                    <div class="nav-item px-3">
                        <NavLink class="nav-link" href="groupTrainingList/list">
                            <span class="oi oi-list-rich" aria-hidden="true"></span> Twoje treningi
                        </NavLink>
                    </div>
                </Authorized>
            </AuthorizeView>
        }

        <AuthorizeView Roles="Admin">
            <Authorized>
                <NavLink class="nav-link" @onclick="() => expandSpecialization = !expandSpecialization">
                    <span class="oi oi-list-rich" aria-hidden="true"></span> Specjalizacje trenerów
                </NavLink>
            </Authorized>
        </AuthorizeView>
        @if (expandSpecialization)
        {
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="specializationAdd">
                    <span class="oi oi-list-rich" aria-hidden="true"></span> Dodaj specjalizację
                </NavLink>
            </div>
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="specializationList">
                    <span class="oi oi-list-rich" aria-hidden="true"></span> Lista specjalizacji
                </NavLink>
            </div>
        }

        <AuthorizeView Roles="Admin">
            <Authorized>
                <NavLink class="nav-link" @onclick="() => expandTrainer = !expandTrainer">
                    <span class="oi oi-list-rich" aria-hidden="true"></span> Trenerzy
                </NavLink>
            </Authorized>
        </AuthorizeView>
        @if (expandTrainer)
        {
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="trainerAdd">
                    <span class="oi oi-list-rich" aria-hidden="true"></span> Dodaj trenera
                </NavLink>
            </div>
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="trainerList">
                    <span class="oi oi-list-rich" aria-hidden="true"></span> Lista trenerów
                </NavLink>
            </div>
        }

        <AuthorizeView Roles="Employee">
            <Authorized>
                <NavLink class="nav-link" @onclick="() => expandTrainingEquipment = !expandTrainingEquipment">
                    <span class="oi oi-list-rich" aria-hidden="true"></span> Sprzęt do ćwiczeń
                </NavLink>
            </Authorized>
        </AuthorizeView>
        @if (expandTrainingEquipment)
        {
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="equipmentAdd">
                    <span class="oi oi-list-rich" aria-hidden="true"></span> Dodaj urządzenie
                </NavLink>
            </div>
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="equipmentList">
                    <span class="oi oi-list-rich" aria-hidden="true"></span> Lista urządzeń
                </NavLink>
            </div>
        }

        <AuthorizeView Roles="Employee">
            <Authorized>
                <NavLink class="nav-link" @onclick="() => expandVisit = !expandVisit">
                    <span class="oi oi-list-rich" aria-hidden="true"></span> Wizyty klientów
                </NavLink>
            </Authorized>
        </AuthorizeView>
        @if (expandVisit)
        {
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="visitAdd">
                    <span class="oi oi-list-rich" aria-hidden="true"></span> Dodaj wizytę
                </NavLink>
            </div>
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="visitList">
                    <span class="oi oi-list-rich" aria-hidden="true"></span> Lista wizyt
                </NavLink>
            </div>
        }
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;
    private bool expandClient, expandContract, expandEmployee, expandGroupTraining, expandSpecialization, expandTrainer, expandTrainingEquipment, expandVisit;
    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
