@page "/"
@inject IJSRuntime js

<PageTitle>Index</PageTitle>

<AuthorizeView>
    <Authorized>
        <h1>Witaj, @context.User.Identity.Name!</h1>
        <SurveyPrompt Title="Możesz teraz korzystac z funkcji przeznacznych dla twojej roli" />
    </Authorized>
    <NotAuthorized>
        <h1>Witaj, Gosciu!</h1>
        <SurveyPrompt Title="Aby uzyskać dostęp do wszystkich funkcji, zaloguj się na swoje konto" />
    </NotAuthorized>
</AuthorizeView>

@code {
    [CascadingParameter]
    private Task<AuthenticationState> authenticationState { get; set; }

    private async Task DisplayGreetingAlert()
    {
        var authState = await authenticationState;
        var message = $"Hello {authState.User.Identity.Name}";
        await js.InvokeVoidAsync("alert", message);
    }
}