@page "/contractList"
@using Projekt_Inzynierski.Core.DTOs;
@attribute [Authorize(Roles = "Admin")]
@inject AuthenticationStateProvider authStateProvider
@inject NavigationManager NavigationManager
@inject HttpClient _httpClient


<div class="d-flex justify-content-between">
    <h3>Lista Umów</h3>
    <div class="hstack gap-1">
        <div class="input-group">
            <input type="text" class="form-control" @bind="@searchPhrase" />
            <input type="button" class="btn btn-primary" @onclick=@Search value="Szukaj" />
        </div>
        <NavLink class="nav-link" href="contractAdd">
            <input type="button" class="btn btn-success" value="+ Dodaj" />
        </NavLink>
    </div>
</div>

@if (contracts == null)
{
    <p><em>Ładowanie...</em></p>
}
else
{
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Okres w miesiącach</th>
                <th>Koszt miesięczny</th>
                <th>Operacje</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var contract in contracts)
            {
                <tr>
                    <td>@contract.Months</td>
                    <td>@contract.MonthlyCost</td>
                    <td class="hstack">
                        <a class="nav-link" href="contractForm/details/@contract.Id">
                            <span class="oi oi-magnifying-glass" aria-client="true"></span>
                        </a>
                        <a class="nav-link" href="contractForm/edit/@contract.Id">
                            <span class="oi oi-pencil" aria-hidden="true"></span>
                        </a>
                        <a class="nav-link" href="" @onclick="@(() => {DeleteContract(contract.Id); })">
                            <span class="oi oi-trash" aria-hidden="true"></span>
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
@code {
    ICollection<ContractDto> contracts = new List<ContractDto>();
    private string searchPhrase;

    protected override async Task OnInitializedAsync()
    {
        var customAuthStateProvider = (CustomAuthenticationStateProvider)authStateProvider;
        var token = await customAuthStateProvider.GetToken();
        if (!string.IsNullOrEmpty(token))
        {
            _httpClient.DefaultRequestHeaders.Authorization = new AuthenticationHeaderValue("Bearer", token);
            contracts = await _httpClient.GetFromJsonAsync<ICollection<ContractDto>>($"api/contract?searchPhrase={searchPhrase}");
        }
        else
        {
            NavigationManager.NavigateTo("/login");
        }
    }

    protected async void DeleteContract(int id)
    {
        var customAuthStateProvider = (CustomAuthenticationStateProvider)authStateProvider;
        var token = await customAuthStateProvider.GetToken();
        if (!string.IsNullOrEmpty(token))
        {
            _httpClient.DefaultRequestHeaders.Authorization = new AuthenticationHeaderValue("Bearer", token);
            await _httpClient.DeleteAsync($"api/contract/{id}");
            NavigationManager.NavigateTo("contractList");
        }
        else
        {
            NavigationManager.NavigateTo("/login");
        }
    }

    protected async void Search()
    {
        await OnInitializedAsync();
        StateHasChanged();
    }
}